
// // btns

.shd-btn {
  @extend .btn;
  border-radius: 8px;
  font-size: 0.8 * $font-size-base;
  font-family: $font-family-sans-serif;
}

.shd-btn-primary{
  @extend .shd-btn;
  @extend .btn-primary;
}

.shd-btn-secondary{
  @extend .shd-btn;
  @extend .btn-secondary
}

.shd-btn-outline-dark{
  @extend .shd-btn;
  @extend .btn-outline-dark;
}

.shd-btn-outline-light{
  @extend .shd-btn;
  @extend .btn-outline-light;
}

.shd-btn-link{
  @extend .shd-btn;
  @extend .btn-link;
  text-decoration: none;
  color: black;
  font-size: $font-size-base;

  &:hover{
    color: tint-color(black, 50%) !important;
  }  
}

.shd-btn-link-light{
  @extend .shd-btn-link;
  color: white;

  &:hover{
    color: shade-color(white, 40%) !important;
  }  
}
