.display-md-none{
  display: block !important;
  @media(max-width: map-get($map: $grid-breakpoints, $key: md)){display: none !important};
}

.scrolling-text-container{
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.scrolling-text.small{
  animation: scrolling-text 14s linear infinite;
  font-size: 1.1rem;
  color: white;
}
.scrolling-text-container.competences{
  width: 100%;
  @media(max-width: map-get($map: $grid-breakpoints, $key: md)){width: 80%;};
  border-left: 2px solid white;
  border-right: 2px solid white;
}

@keyframes scrolling-text {
  0%{
    transform: translate(-100%, 0);
  }
  100%{
    transform: translate(0,0);
  }
}

.pastille{
  display: inline-block;
  border-radius: 50px;
  background-color: black;
  width: 10px;
  height: 10px;
  margin: 0px 35px;
}

.pastille.light{
  background-color: white;
}


.pastille-mini {
  @extend .pastille;
  width: 6px;
  height: 6px;
  margin: 0px 14px;
}

.carded{
  border-radius: 10px;
  padding: 40px 50px;
  background-color: $shd-gray;
  color: $shd-shaded-white;
  @extend .shadow-lg;
}

.carded.values{
  @extend .carded;
  padding: 50px 40px;
  position: relative;
  bottom: 20vh;
}

.carded.home{
  @extend .carded;
  width: 100%;
  @media(min-width: map-get($map: $grid-breakpoints, $key: sm)){width: 75%;};
  @media(max-width: map-get($map: $grid-breakpoints, $key: md)){font-size: 0.8 * $font-size-base};
  @media(max-width: map-get($map: $grid-breakpoints, $key: md)){padding: 20px 20px;};
  padding: 20px 30px;
}
.carded.projects{
  @extend .carded;
  padding: 70px 44px;
  margin: 0 50px
}
.carded.competences{
  @extend .carded;
  height: 350px;
  position: relative;
  top: 175px;
}

.carded.experiences{
  @extend .carded;
  padding: 50px 44px;
}

.carded.contact {
  @extend .carded;
  padding: 20px 30px;
}
.carded.regular{
  max-width: 300px;
}
.carded.big{
  max-width: 475px;
}
.profile-img{
  width: 500px;
  z-index: 2;
}
.width-max{
  width: 100%;
}
.height-max{
  height: 100%;
}

.home-section{
  background-color: white;
  color: black;
}

.home-row{
  height: 60vh;
}

.nav-row{
  height: 15vh;
  @media(max-width: map-get($map: $grid-breakpoints, $key: sm)){height: 10vh;};
}

.page-section{
  background-color: $shd-clay;
  color:black;
  z-index: 2;
  border: none;
}

.footer{
  background-color: white;
  color: black;
}

.divider-sm{
  height: 1px;
  width: 100%;
  border-bottom: 1px solid black;
}

.scrolling-text-row{
  height: 15vh;
  @media(max-width: map-get($map: $grid-breakpoints, $key: sm)){height: 20vh;};
}

.scrolling-text-container{
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.scrolling-text{
  white-space: nowrap;
  animation: scrolling-text 18s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-headings;
  font-size: 25px;
}

.pastille{
  display: inline-block;
  border-radius: 50px;
  background-color: $shd-orange;
  width: 10px;
  height: 10px;
  margin: 0 50px;
}
.scribble{
  height: 30vh;
  background-color: $shd-clay;
  background-image: url("../assets/images/scribble.png");
}
.scribble.light{
  background-image: url("../assets/images/scribble-light.png");
  height: 175px;
  background-color: white;
}
.icon-small{
  width: 40px;
  height: 40px;
}
.icon-xs{
  width: 30px;
  height: 30px;
}

.icon-padding{
  padding-left: 50px;
}

 