@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/xki3oba.css");

$shd-gray: #2C2C2C;
$shd-clay: #F0F0F0;
$shd-pink: #B45054;
$shd-orange:#DEA44E;
$shd-shaded-white: #c5c1c1;

$primary: $shd-pink;
$secondary: $shd-orange;

// Body
$body-bg: white;
$body-color: $shd-gray;



// Typography
$font-family-sans-serif: 
'Quicksand',
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-headings: 'bely-display',
'Didot',
'Quicksand',
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * .875 !default;
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;


$headings-font-family: $font-family-headings;
$headings-font-weight: $font-weight-bold;


$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 2.5;



// Buttons + Forms
$input-btn-font-family: $font-family-sans-serif;
$border-width: 1px;
$border-radius: .25rem !default;
$input-btn-focus-box-shadow: null;
$input-btn-focus-color: rgba(255, 255, 255, 0.247);
$input-btn-padding-y: .375rem;
$input-btn-padding-x: 1rem;


$input-btn-padding-y-sm: .25rem !default;
$input-btn-padding-x-sm: .5rem !default;
$input-border-color: rgba(255, 255, 255, 0.445);


@import "../../../../node_modules/bootstrap/scss/bootstrap.scss"
