<!--home section-->
<div class="container-fluid home-section">
    <!--nav-->
    <nav class="row justify-content-center align-items-center nav-row">
        <div class="col-11 col-md-8 d-flex justify-content-start">
            <a class="shd-btn shd-btn-link bi bi-linkedin px-0 px-md-3"
                href="https://www.linkedin.com/in/samirahamadjibo/"></a>
            <a class="px-3 d-none d-sm-block shd-btn shd-btn-link ff-headings" routerLink="/home#experiences"
                (click)="navigateToExperiences()">Mes valeurs</a>
            <a class="px-3 d-none d-sm-block shd-btn shd-btn-link ff-headings" routerLink="/home#projects"
                (click)="navigateToProjects()">Mes expériences</a>
            <a class="px-3 d-none d-sm-block shd-btn shd-btn-link ff-headings" routerLink="/home#contact"
                (click)="navigateToContact()">Contact</a>
        </div>
        <div class="col-0 col-md-3 d-flex display-md-none">
            <a class="shd-btn-outline-dark" href="../../../assets/documents/cv_samira_HAMADJIBO.pdf"
                download="cv_samira_HAMADJIBO">Téléchargez mon CV</a>
        </div>
    </nav>
    <div class="row">
        <div class="col-4">
            <div class="divider-sm"></div>
        </div>
    </div>

    <div class="row scrolling-text-row align-items-center pt-3">
        <div class="col-12">
          <div class="scrolling-text-container width-max">
            <span class="scrolling-text">Angular 12,
                <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>VueJs 3,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Bootstrap,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Java 14,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Python,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>PostgreSql,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Api/REST,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>
            </span>
            <span class="scrolling-text">Angular 12,
                <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>VueJs 3,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Bootstrap,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Java 14,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Python,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>PostgreSql,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Api/REST,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>
            </span>
            <span class="scrolling-text">Angular 12,
                <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>VueJs 3,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Bootstrap,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Java 14,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Python,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>PostgreSql,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>Api/REST,
              <span class="pastille"></span>
              <pre>&emsp;&emsp;</pre>
            </span>
          </div>
        </div>
      </div>

    <div class="row justify-content-md-center home-row align-items-center">
        <div class="col-11 col-md-6 d-flex flex-column justify-content-center justify-content-md-end height-max pb-5 pe-md-5">
            <div class="fw-bold fs-xl mb-4">Hello !</div>
            <p class="fs-lg mb-3 pe-5 ">
                Je m'appelle Samira, étudiante en dernière année en école d'ingénieur
            </p>
            <p class="mb-3 pe-5">
                Je recherche un stage de fin d'année dans les domaines du Développement logiciel et du développement embarqué
            </p>
            <div class="carded home d-flex fs-sm flex-column mt-4 mb-3 mb-sm-3">
                <p class="pb-3">Je recherche un stage ou une alternance en tant que comptable. C'est un match ? </p>
                <div>
                    <div class="shd-btn-primary" routerLink="/home#contact" (click)="navigateToContact()">
                        Contactez moi !
                    </div>
                </div>
            </div>
        </div>
        <div class="col-0 col-md-5 d-flex display-md-none justify-content-end align-self-end overflow-hidden">
            <img src="../../../assets/images/profile.png" alt="profile image of myself" class="profile-img">
        </div>
    </div>
</div>

<div class="container-fluid page-section">
    <div class="row">
        <div class="col-12">
            <div class="scribble"></div>
        </div>
    </div>
    <div class="row pt-5 justify-content-center pt-4">
        <div class="col-12 col-sm-10 col-md-6">
            <div
                class="carded values bg-color-linear-purple-blue color-white d-flex flex-column justify-content-center align-items-center">
                <div class="fs-h3 text-center fs-lg color-secondary">Mes valeurs</div>
                <div class="mt-5 pb-3 text-center">
                   <p class="">Programmers often do stuff for fun, with no direct use to the community and sometimes they changes
                    the world fuelled with coffee and programming jokes.</p> 

                    <p class="pt-2 text-center ">
                        I wanted the Digital vitae studio
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center pb-5" id="experiences">
        <div class="col-12 fs-3 pb-5 text-center">
            <div class="mb-3">Mes expériences professionnelles</div>
            <div class="d-flex justify-content-center">
              <img class="me-2 icon-small" src="../../../assets/icons/sg-icon.png" alt="logo societe generale">
              <img class="mx-2 icon-small" src="../../../assets/icons/amazon-logo.png" alt="logo amazon">
              <img class="ms-2 icon-small" src="../../../assets/icons/thd-logo.png" alt="logo THD">
            </div>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <div class="carded experiences my-3">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="d-flex pb-4 align-items-center">
                            <img class="me-4 icon-xs" src="../../../assets/icons/sg-icon.png" alt="logo societe generale">
                            <div class="fs-4">Aide comptable aus ROOT EVENTS</div>
                        </div>
                        <div class="icon-padding">
                            Chargé de la comptabilité, du recrutement et de la formation du personnel, dans le cadre de ce role
                            à responsabilités j'ai également été amené à négocier des contrats et effetuer l'inventaire des
                            commandes fournisseurs. J'ai développé des compétences en gestion des risques, travail sous
                            pression, compétences relationnelles et de négociation.
                            La durée de ma mission au COSMOPOLITAN BAR CLUB de Dakar témoingne de la qualité du travail fourni.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-5 d-flex justify-content-center">
            <div class="carded experiences my-3 d-flex flex-column">
                <div class="d-flex pb-4 align-items-center">
                    <img class="me-4 icon-xs" src="../../../assets/icons/sg-icon.png" alt="logo societe generale">
                    <div class="fs-4">Aide comptable aus ROOT EVENTS</div>
                </div>
                <div class="icon-padding">
                    Chargé de la comptabilité, du recrutement et de la formation du personnel, dans le cadre de ce role
                    à responsabilités j'ai également été amené à négocier des contrats et effetuer l'inventaire des
                    commandes fournisseurs. J'ai développé des compétences en gestion des risques, travail sous
                    pression, compétences relationnelles et de négociation.
                    La durée de ma mission au COSMOPOLITAN BAR CLUB de Dakar témoingne de la qualité du travail fourni.
                </div>
            </div>
        </div>
        <div class="col-10 col-md-5 d-flex justify-content-center">
            <div class="carded experiences my-3 d-flex flex-column">
                <div class="d-flex pb-4 align-items-center">
                    <img class="me-4 icon-xs" src="../../../assets/icons/thd-logo.png" alt="logo THD">
                    <div class="fs-4">Aide comptable aus ROOT EVENTS</div>
                </div>
                <div class="icon-padding">
                    Préparation de commande et suivi qualité dans un environnement exigent et compétitif. Statistiques
                    de qualité atteints et respect des différentes normes. Comme gage de mon efficacité j'ai reçu une
                    proposition de CDD déclinée pour me concentrer à mes études.
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div
            class="carded competences bg-color-linear-purple-blue col-11 col-sm-10 col-md-6 d-flex flex-column align-items-center">
            <div class="text-center fs-3 py-3">Mes compétences</div>
            <div class="scrolling-text-container competences my-5">
                <span class="scrolling-text small">
                    <span>Java 14</span>
                    <span class="pastille light"></span>
                    <span>C</span>
                    <span class="pastille light"></span>
                    <span>PostgreSql</span>
                    <span class="pastille light"></span>
                    <span>Lisp</span>
                    <span class="pastille light"></span>
                    <span>Méthode Agile</span>
                    <span class="pastille light"></span>
                    <span>Python</span>
                    <span class="pastille light"></span>
                    <span>Angular 12</span>
                    <span class="pastille light"></span>
                    <span>VueJs 3</span>
                    <span class="pastille light"></span>
                    <span>Bootstrap</span>
                    <span class="pastille light"></span>
                    <span>Git</span>
                    <span class="pastille light"></span>
                    <span>Linux</span>
                    <span class="pastille light"></span>
                    <span>Matlab</span>
                    <span class="pastille light"></span>
                    <span>Génie logiciel</span>
                    <span class="pastille light"></span>
                    <span>Programmation Système</span>
                    <span class="pastille light"></span>
                    <span>Programmation Orienté Objet</span>
                    <span class="pastille light"></span>
                    <span>Automatique</span>
                    <span class="pastille light">&nbsp;</span>
                </span>
                <span class="scrolling-text small">
                    <span>Java 14</span>
                    <span class="pastille light"></span>
                    <span>C</span>
                    <span class="pastille light"></span>
                    <span>PostgreSql</span>
                    <span class="pastille light"></span>
                    <span>Lisp</span>
                    <span class="pastille light"></span>
                    <span>Méthode Agile</span>
                    <span class="pastille light"></span>
                    <span>Python</span>
                    <span class="pastille light"></span>
                    <span>Angular 12</span>
                    <span class="pastille light"></span>
                    <span>VueJs 3</span>
                    <span class="pastille light"></span>
                    <span>Bootstrap</span>
                    <span class="pastille light"></span>
                    <span>Git</span>
                    <span class="pastille light"></span>
                    <span>Linux</span>
                    <span class="pastille light"></span>
                    <span>Matlab</span>
                    <span class="pastille light"></span>
                    <span>Génie logiciel</span>
                    <span class="pastille light"></span>
                    <span>Programmation Système</span>
                    <span class="pastille light"></span>
                    <span>Programmation Orienté Objet</span>
                    <span class="pastille light"></span>
                    <span>Automatique</span>
                    <span class="pastille light">&nbsp;</span>
                </span>
                <span class="scrolling-text small">
                    <span>Java 14</span>
                    <span class="pastille light"></span>
                    <span>C</span>
                    <span class="pastille light"></span>
                    <span>PostgreSql</span>
                    <span class="pastille light"></span>
                    <span>Lisp</span>
                    <span class="pastille light"></span>
                    <span>Méthode Agile</span>
                    <span class="pastille light"></span>
                    <span>Python</span>
                    <span class="pastille light"></span>
                    <span>Angular 12</span>
                    <span class="pastille light"></span>
                    <span>VueJs 3</span>
                    <span class="pastille light"></span>
                    <span>Bootstrap</span>
                    <span class="pastille light"></span>
                    <span>Git</span>
                    <span class="pastille light"></span>
                    <span>Linux</span>
                    <span class="pastille light"></span>
                    <span>Matlab</span>
                    <span class="pastille light"></span>
                    <span>Génie logiciel</span>
                    <span class="pastille light"></span>
                    <span>Programmation Système</span>
                    <span class="pastille light"></span>
                    <span>Programmation Orienté Objet</span>
                    <span class="pastille light"></span>
                    <span>Automatique</span>
                    <span class="pastille light">&nbsp;</span>
                </span>
            </div>
            <div class="shd-btn-outline-light mb-4" href="../../../assets/documents/cv_samira_HAMADJIBO.pdf"
                download="cv_samira_HAMADJIBO">Téléchargez mon CV
            </div>
        </div>
    </div>


    <div class="row footer justify-content-end pb-4" id="contact">
        <div class="col-12 col-md-11 py-5 pb-3 d-flex flex-column">
            <div class="h2 pt-3">Contact</div>
        </div>
        <div class="col-12 col-md-11 d-flex flex-column fw-bold">
            <div class="d-flex align-items-center">
                <div class="td-underline me-2">Email <i class="bi bi-envelope-paper ms-2 me-2"></i>: </div>
                <div class="shd-btn-link py-0">samira.hamadjibo@gmail.com</div>
            </div>
            <div class="pt-2 d-flex align-items-center">
                <span class="td-underline me-2">Contact <i class="bi bi-telephone-forward ms-2 me-2"></i>: </span>
                <span class="shd-btn-link">06 03 35 64 34</span>
            </div>
        </div>
        <div class="col-11 d-flex justify-content-end pt-2 pb-1 me-2">
            Ce site a été designé et crée par Digital Vitae ©
        </div>
    </div>

</div>